<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/page6.css">
    <title>times!!</title>
</head>
<body>
    <div class="background-images">
        <div class="background-image background-image1"></div>
        <div class="background-image background-image2"></div>
    </div>
    <div class="content" style="text-align:center;">
        <h1>
        Thank You for being a wonderful friend.<br/> Thank You for everything."<br/>this is finally the end of this beautiful website!<br/><br>
            <b>Remember, pain is inevitable but suffering is optional.</b><br/>
        Have a Spicy Year ahead.</h1>
    </div>
</body>
</html>
